.span_sty 
{ 
color:black;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.span_sty_1
{ 
color:white;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}
.my_sty
{ 
color:white;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}
.span_sty_3
{ 
color:red;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.span_sty_4
{ 
color:black;
font-weight:bold;
font: bold bold bold 18px/23px 'SimSun', SimSun;
}

.font_sty
{ 
color:black;

font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.font_sty_1
{ 
color:black	;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.font_sty_2
{ 
padding-right:10px;
color:white;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}
.p_sty
{ 
color:black;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.p_sty_1
{ 
color:black;
font: normal normal normal 12px/23px 'SimSun', SimSun;
}

.p_sty_2
{ 
color:black;
font: normal normal normal 23px/23px 'SimSun', SimSun;
font-weight: bold;
}
.p_sty_3
{ 
color:white;
font: normal normal normal 23px/23px 'SimSun', SimSun;

}
.wy-mod-banner p{
color:black;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.con_page label, .con_page p, .con_page th, .con_page td, .con_page span{
color:black;
font: normal normal normal 18px/23px 'SimSun', SimSun;
}

.td_sty {
padding-top:25px;
padding-left:10px;
padding-bottom:25px; 	

}


.td_sty_1 {
padding-top:0px;
padding-bottom:0px; 
}